@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  @include flex-col();
  align-items: center;
  background-color: $bg_color;
  margin: 0;
  overflow-y: scroll;
}

h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  margin: 0 0 $size_m;
  font-size: $size_m * $size_font_ratio;
}

section {
  border: 1px solid #DADADA;
  padding: $size_m;
  margin-bottom: $size_m;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
  background: #FFF;
}

p {
  margin: 0 0 $size_s;
  font-size: $size_s * $size_font_ratio;
}

img {
  height: 100%;
}

._crutches_box {
  position: absolute;
  top: 0;
  left: 0;
}
